.menuItem,
.menuItem:focus,
.menuItem:active {
    padding: 1rem;
    display: block;
    border: 0;
    width: 100%;
    cursor: pointer;
    background-color: var(--page-bg-color);
    color: var(--page-text-color);
}

.menuItem__selected,
.menuItem__selected:focus,
.menuItem__selected:active {
    background-color: var(--link-color);
    color: var(--text-link-color);
}

.menuItem:hover {
    background-color: var(--link-color-hover);
    color: var(--text-link-color);
}